RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

SQL_SA_PASSWORD=Your_password123
USERS_CONNECTION_STRING=Server=sqlserver;Database=TrezzeCloudUsers;User Id=sa;Password=Your_password123;TrustServerCertificate=True
CATALOG_CONNECTION_STRING=Server=sqlserver;Database=TrezzeCloudCatalog;User Id=sa;Password=Your_password123;TrustServerCertificate=True

JWT_ISSUER=TrezzeCloud
JWT_AUDIENCE=TrezzeCloud
JWT_SECRET_KEY=SUPER_SECRET_KEY_123456789_SUPER_SECRET_KEY

USERS_ADMIN_PASSWORD=Admin@123
